{% load static %}

<div class="container">
    <div id='calendar'></div>
</div>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'ja',
            buttonText: {
                prev: '先月',
                next: '来月',
                prevYear: '<<去年',
                nextYear: '来年>>',
                today: '今日',
                month: '月',
                week: '週',
                day: '日',
                list: '一覧'
            },
            events:
                [
                    {
                        title: "青葉ホームズ：田中、伊藤", start: "2024-11-11", color: '#08cad1',
                    },
                    {
                        title: "青葉ホームズ：田中、伊藤", start: "2024-11-11", end: "2024-11-18", color: '#42d6a4'
                    },
                    {
                        title: "青葉ホームズ：田中、伊藤", start: "2024-11-15", color: '#c780e8'
                    },
                    {
                        title: "青葉ホームズ：田中、伊藤", start: "2024-11-03", color: '#ffb480'
                    },
                    {
                        title: "青葉ホームズ：田中、伊藤", start: "2024-11-21", color: '#59adf6'
                    },
                ]
        });
        calendar.render();
    });

</script>