{% extends "base.html" %}
{% block title %}
新規現場登録
{% endblock %}

{% block content %}
<div class="p-4 sm:ml-64">
    <h1 class="text-4xl py-10">新規現場登録</h1>
    <form class="space-y-6" action="{% url 'add_genba' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"
            class="flex w-full justify-center rounded-md bg-sky-500 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-sky-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-700">
            更新</button>
    </form>
</div>
{% endblock %}