{% load compress %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    {% include 'assets/sidebar.html' %}
    {% block content %}
    {% endblock content %}
</body>

</html>