{% extends "base.html" %}
{% block title %}
新規作業員登録
{% endblock %}

{% block content %}
<div class="p-4 sm:ml-64">
    <h1 class="text-4xl py-10">作業員情報登録</h1>
    <div class="col-md-6 offset-md-3">
        <br><br>
        <form method="POST" action="{% url 'update_profile' user.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-dark">Update</button>
            <a href="{% url 'delete_user' user.id %}" class="btn btn-outline-dark">Delete</a>
        </form>
    </div>
</div>
{% endblock %}